.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


@media screen and (max-width:1024px){
    .imgLogo {
        width: 30%;
    }

    .imgPorfolio {
        width: 27%;
    }
}

@media screen and (max-width:768px){
    .imgPorfolio {
        width: 25%;
    }
}
